* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

/* .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
  font-size: 14px !important;
  font-weight: bold !important;
  color: rgb(49, 48, 48) !important;
  padding: 0 15px !important;
  margin: 0 !important;
} */
